<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis总配置文件-->
<configuration>

    <typeAliases>

    </typeAliases>

    <!--数据源连接配置-->
    <environments default="env1">
        <environment id="env1">
            <!--事务管理器配置-->
            <transactionManager type="JDBC"></transactionManager>
            <!--数据源配置-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/dd?serverTimezone=Asia/Shanghai&amp;useSSL=false&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <!--映射文件配置-->
    <mappers>
        <mapper class="com.newer.mapper.EmpMapper"/>
        <mapper class="com.newer.mapper.DeptMapper"/>
    </mappers>
</configuration>